{{!-- renders table elements for admin dashboard --}}
<tr>
  <th scope="row">{{id}}</th>
  <td><a class = "btn btn-sm" href="/book/{{id}}">{{title}}</a></td>
  <td>{{author}}</td>
  <td>{{#if available}}Yes{{else}}No{{/if}}</td>
  <td>{{available_next}}</td>
  <td>{{#if available}}-{{else}}{{borrowed_user}}{{/if}}</td>

</tr>


