{{!-- renders reviews for book page --}}

<div class="card m-3 shadow">
  <div class="card-body">
    <div class="d-flex flex-start">

      <div class="w-100">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h6 class="text-primary fw-bold mb-0">
            <span class="text justify-content-between ms-2"><i>{{content}}</i></span>
          </h6>
        </div>
        <div class="d-flex justify-content-between align-items-center">

          <div class="d-flex flex-row review-rating">
            {{rating}} <i class="fas fa-star text-warning me-2"></i>
            <span class="review-rating"> 
           on {{format_date createdAt}}</span>

            {{#if admin}}
            <button class="btn btn-sm btn-outline-danger delete-review" id={{id}} value="{{id}}"> <i
                class="fa fa-trash delete-book" aria-hidden="true"></i></button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
