<div container class="d-flex flex-column w-75 m-auto">
  <div class="d-flex flex-row w-100 m-auto">
    <div class="d-flex flex-column" id="book-cover" >
      <img src="/images/covers/{{book.id}}.jpg" class=" float-left rounded mx-auto d-block" style="width:400px">
    </div>
    <div class="d-flex flex-column ml-5 mb-5" id="book-data">
      <h1>{{book.title}}</h1>
      <div class="display-rating">
        
<div><span class="stars-container stars-{{starRating}}">★★★★★</span></div>
         
   </div>
      <h2>{{book.author}}, {{book.year}}</h2>
      <p>{{book.synopsis}}
      </p>
      {{#if book.available}}<span class="badge badge-pill badge-success w-25" id="available-badge">Available</span>
      {{else}}
      <span class="badge badge-pill badge-danger w-25" id="available-badge">Not available</span>
       <p>Due Back : {{book.available_next}}
      </p>
      {{/if}}
      {{!-- <h4>Borrowed Before?</h4> --}}
      {{!-- only show radd review option for logged in --}}
      {{#unless admin}}
      {{#if loggedIn}}
      <form class="mt-5 new-review-form">
        Leave a review 
         <div class="rating">
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
   </div>

    
        <div class="form-group">
          <textarea class="form-control w-100" id="reviewtext" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
      {{/if}}
      {{/unless}}
          {{#if admin}}
<a type="button" class="btn btn-sm mt-5 btn-outline-info edit-book" href="edit/{{book.id}}">Edit Book <i class="fa-solid fa-pen-to-square"></i></a>
<button type="button" class="btn btn-sm mt-3 btn-outline-danger delete-book">Delete Book <i class="fa fa-trash delete-book" aria-hidden="true"></i></button>
<a button type="button" class="btn btn-sm mt-3 btn-outline-success delete-book" href="/admin">Back to admin dashboard</a>

      {{/if}}
    </div>
     {{!-- delete and edit book button for admin --}}
 
  </div>


  <div class="d-flex flex-column w-100 mt-5 m-auto" id="reviews">
    {{#each review as |review|}}
    {{> reviews review }}
    {{/each}}

  </div>
  <a type="button" class="btn btn-primary btn-sm  m-auto mt-5 w-25" href="/library">Back to the Library</a>
</div>


{{#if admin}}
  <script src="/js/adminbook.js"></script>
  {{else}}
  <script src="/js/userbook.js"></script>
  {{/if}}
